<% include ./partials/header.ejs %>
<div class="container mx-auto flex gap-3">
    <a href="/login" class="bg-red-600 px-5 py-3 font-semibold capitalize text-center text-white rounded-md mt-3">login</a>
    <a href="/profile" class="bg-red-600 px-5 py-3 font-semibold capitalize text-center text-white rounded-md mt-3">profile</a>
</div>
    
<% include ./partials/footer.ejs %>
  
