<% include ./partials/header.ejs %>
<div class="container mx-auto my-0 w-full h-screen bg-zinc-300 flex items-center justify-center">
    <div class="w-[30vw]  bg-white px-20 py-20 rounded-3xl">
        <h1 class="text-3xl text-center tracking-tighter leading-none font-semibold capitalize text-zinc-700 mb-10">create new account</h1>
        <form action="/register" method="post">
            <input  class="border-2 rounded-md block w-full px-3 py-2 mt-2" type="text" name="username" placeholder="username">
            <input  class="border-2 rounded-md block w-full px-3 py-2 mt-2" type="text" name="fullname" placeholder="fullname">
            <input  class="border-2 rounded-md block w-full px-3 py-2 mt-2" type="email" name="email" placeholder="email">
            <input  class="border-2 rounded-md block w-full px-3 py-2 mt-2" type="number" name="number" placeholder="contect">
            <input class="border-2 rounded-md block w-full px-3 py-2 mt-2" type="password" name="password" placeholder="password" >
            <input class="border-2 block w-full px-3 py-2 bg-red-600 text-white rounded-full mt-2" type="submit" name="submit" value="Create new accout" id="">       
            <p class="text-xs font-semibold mt-7 w-3/4 mx-auto text-center">By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge you've read our Privacy Policy; Opens a new tab. Notice at collection; Opens a new tab.</p>    
        </form>
        <a href="/login" class="inline-block text-sm capitalize w-full mt-2 font-semibold text-sky-600 text-center">login existing account</a>
    </div>
</div>

<% include ./partials/footer.ejs %>
  
